[Desktop Entry]
Categories=Utility;TextEditor;
Name=Rhyolite
Comment=A simple markdown editor written in Rust.
Exec=Rhyolite
Icon=Rhyolite
Terminal=false
Type=Application
StartupWMClass=Rhyolite
