[Desktop Entry]
Categories=Utility;TextEditor;
Name=Rhyolite
Comment=A simple markdown editor written in Rust.
Exec=Rhyolite
Icon=/usr/share/icons/hicolor/512x512/apps/Rhyolite.png
Terminal=false
Type=Application
Author=Suyog Tandel
